<% layout('layout/boilerplate') %>

<div class="container">
    <h1>Edit Gun</h1>
    <form action="/gun/<%= gun._id %>?_method=PATCH" method="POST">
        <div class="mb-3">
            <label for="gunName" class="form-label">Gun Name</label>
            <input type="text" class="form-control" id="gunName" name="gunName" value="<%= gun.gunName %>" required readonly>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price" name="price" value="<%= gun.price %>" required>
        </div>
        <div class="mb-3">
            <label for="isLegal" class="form-label">Is Legal</label>
            <select class="form-select" id="isLegal" name="isLegal" required>
                <option value="true" <%= gun.isLegal ? 'selected' : '' %>>Yes</option>
                <option value="false" <%= !gun.isLegal ? 'selected' : '' %>>No</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="automatic" class="form-label">Automatic</label>
            <select class="form-select" id="automatic" name="automatic" required>
                <option value="true" <%= gun.automatic ? 'selected' : '' %>>Yes</option>
                <option value="false" <%= !gun.automatic ? 'selected' : '' %>>No</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
